server:
  port: 8080 # Standard port for Gateways

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true # auto-create routes from Eureka
          lower-case-service-id: true # /user-service instead of /USER-SERVICE

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/